* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(188, 188, 255);
}

.container {
    margin: 30vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40vw;
    padding: 20px;
    border-radius: 10px;
}


#display {
    margin-top: 20px;
}

.buttons {
    margin-top: 20px;
}

button {
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 3px 3px gray;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    transition: 0.25;
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 1px 1px black;
}

#start {
    background-color: rgb(0, 224, 0);
}

#start:hover {
    background-color: rgb(0, 168, 0);
}

#start:active {
    background-color: rgb(0, 112, 0);
}

#stop {
    background-color: rgb(224, 224, 0);
}

#stop:hover {
    background-color: rgb(168, 168, 0);
}

#stop:active {
    background-color: rgb(112, 112, 0);
}

#reset {
    background-color: rgb(224, 0, 0);
}

#reset:hover {
    background-color: rgb(180, 0, 0);
}

#reset:active {
    background-color: rgb(112, 0, 0);
}